@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&family=Poppins:wght@300;400;500;600;700&display=swap');

/* ESTILOS GERAIS */

:root{
    --clr-black-1: #222;
    --clr-black-2: #34353a;
    --clr-black-3: #121214;
    --clr-black-4: #13131F;
    --clr-text: #828282;
    --clr-text-2: #898989;
    --clr-white-1: #fff;
    --clr-white-2: #e5e5e5;
    --clr-purple: #633BBC;
    --clr-green: #30fe6c;

    --font-nunito:'Nunito', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-comfortaa:'Comfortaa', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-poppins);
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.section__titulo{
    text-align: center;
    font-size: 3.5em;
    color: var(--clr-green);
    margin-top: -30px;
    letter-spacing: 0.05em;
}

body{
    background: var(--clr-black-4);
    transition: 0.5s;
}

/* HEADER */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid var(--clr-black-2);
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;

    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(6px);
}

header .logo{
    position: relative;
    font-weight: 600;
    font-size: 2em;
    color: var(--clr-white-1);
}

header .logo span{
    color: var(--clr-green);
    font-weight: 700;   
}

header ul {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
}

header ul li a{
    font-weight: 500;
    color: var(--clr-white-1);
    font-size: 1.25em;
    transition: all 0.3s ease-in-out;
}

header ul li a:hover{
    color: var(--clr-green);
}

@media(max-width: 900px) {
    header{
        padding: 20px 50px;
    }

    .menuToggle{
        position: relative;
        width: 30px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .menuToggle::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transform: translateY(-10px);
        transition: 0.5s;
        box-shadow: 0 10px #fff;
    }

    .menuToggle::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transform: translateY(10px);
        transition: 0.5s;
    }

    header.active .menuToggle::before{
        transform: translateY(0px) rotate(45deg);
        box-shadow: 0 0 #fff;
    }

    header.active .menuToggle::after{
        transform: translateY(0px) rotate(315deg);
    }

    header ul{
        display: none;
    }

    header.active ul{
        position: fixed;
        left: 0;
        top: 83px;
        width: 100%;
        height: calc(100vh - 83px);
        background-color: rgba(0, 0, 0, 0.20);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 10000;
        gap: 20px;
    }

    header.active ul li a{
        font-size: 2em;
    }
}

/* HOME */

#home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

#home .home__content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 650px;
    z-index: 10;
}

#home .home__content h2{
    position: relative;
    font-size: 4.6em;
    color: var(--clr-green);
}

#home .home__content p{
    position: relative;
    color: var(--clr-text);
    font-size: 1.2em;
    line-height: 1.6em;
    font-family: var(--font-nunito);
}

.home__content-link{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid var(--clr-green);
    max-width: 180px;
    padding: 15px 20px;
    text-align: center;
    color: var(--clr-white-1);
    font-size: 1em;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}

.home__content-link:hover{
    border: 2px solid var(--clr-white-1);
    color: var(--clr-white-1);
}

.home__content-link ion-icon{
    font-size: 1.5em;
}

#home .astronauta{
    border-radius: 40% 60% 70% 30% / 25% 45% 55% 75% ;
    background: linear-gradient(45deg, #845EC2, var(--clr-purple) 60%);
    max-height: 65vh;
    position: absolute;
    right: 90px;
    bottom: 60px;
    transition: all 0.3s ease-in-out;
}

#home .astronauta:hover{
    transform: scale(1.20);
}

@media (max-width: 900px) {
    #home{
        padding: 150px;
        flex-direction: column;
        padding-bottom: 0;
    }

    #home .home__content h2{
        font-size: 4em;
    }

    #home .astronauta{
        position: relative;
        margin: 6em 0 0 8em;
    }
}
/* SOBRE */

#sobre{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
}

.sobre__content p{
    color: var(--clr-text);
    font-size: 1.2em;
    line-height: 1.6em;
    font-family: var(--font-nunito);
}

.sobre__habs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 30px;
}

.sobre__habs img{
    height: 3em;
}

.sobre__habs-titulo{
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    color: var(--clr-white-1);
    letter-spacing: 0.05em;
    font-family: var(--font-poppins);
}

/* PORTFOLIO */

#portfolio{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 80px 100px;
}

.porfolio__content-titulo{
    margin-top: 20px;
    color: var(--clr-white-1);
    font-size: 1.5em;
    letter-spacing: 0.05em;
}

.portfolio__divisor{
    margin-top: 10px;
    width: 230px;
    height: 3px;
    border: none;
    background: linear-gradient(to right, var(--clr-green) 60%, transparent);
    border-radius: 20px;
}

.portfolio__single-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.portfolio__content-single{
    position: relative;
    margin-top: 30px;
    width: 500px;
    height: 300px;
}

.portfolio__content-single:hover .portfolio__single-text{
    visibility: visible;
}

.portfolio__content-single .portfolio__single-img{
    width: 500px;
    height: 300px;
}

.portfolio__content-single .portfolio__single-img img{
    width: 500px;
    height: 300px;
}

.portfolio__content-single .portfolio__single-text{
    font-size: 1.3em;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.9);
    opacity: .8;
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--clr-white-1);
    visibility: hidden;
}

.portfolio__single-text h3,h4,span{
    font-family: var(--font-nunito);
}

.portfolio__single-text h3{
    margin-bottom: 3px;
    font-size: 2em;
}

.portfolio__single-text h4{
    font-size: 1.5em;
    text-align: center;
}

.portfolio__single-text span a{
    margin-top: 20px;
    color: var(--clr-white-1);
    font-size: 2.2em;
}

.portfolio__duo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* CONTATO */

#contato{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 80px 100px;
}

.contato__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 30px;
}

.contato__single{
    width: 200px;
    text-align: center;
}

.contato__single ion-icon{
    font-size: 3em;
    color: var(--clr-green);
    background: var(--clr-black-2);
    padding: 20px;
    border-radius: 50%;
}

.contato__single p{
    color: var(--clr-white-1);
    font-weight: 600;
    font-size: 1.6em;
    margin-bottom: 0.2em;
}

.contato__single span{
    color: var(--clr-text);
    font-size: 1.2em;
}

/* DARK AND LIGHT */

#home.light{
    background: var(--clr-white-2);
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.label{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--clr-white-1);
    border-radius: 50px;
    cursor: pointer;
    padding: 5px;
    color: var(--clr-black-4);
    transform: scale(1.6);
}

.label .ball{
    background: var(--clr-text);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;

    transform: translateY(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
    transform: translateY(24px);
}

.dark_light{
    position: fixed;
    bottom: 2em;
    right: 2em;
}


/* FOOTER */    

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-white-1);
    font-size: 1.2em;
}

/* MEDIA QUERY */

@media (max-width: 900px) {
    .section__titulo{
        font-size: 2.8em;
    }

    #sobre, #portfolio{
        padding: 150px;
        padding-bottom: 60px;
    }

    #sobre .sobre__content p{
        font-size: 1.1em;
    }

    .portfolio__single-container, .portfolio__duo-container{
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 600px) {
    .section__titulo{
        font-size: 2.1em;
    }
    
    #home{
        padding: 100px 100px 0 90px;
    }

    #home .content h2{
        font-size: 2.8em;
    }

    #home .content p{
        font-size: 1.1em;
    }

    #home .astronauta{
        height: 60vh;
    }

    #sobre{
        padding: 60px 90px 0 90px;
    }

    .sobre__habs-titulo{
        font-size: 1.8em;
    }

    .sobre__habs{
        gap: 30px;
    }

    #portfolio{
        padding: 60px 60px 0 60px;
    }

    .porfolio__content-titulo{
        font-size: 1.3em;
    }


    #contato .section__titulo h2{
        text-align: center;
    }

    .contato__container{
        justify-content: center;
    }

}

@media (max-width: 400px) {
    #home{
        padding: 50px;
    }

    #home .astronauta{
        height: 50vh;
    }

    #sobre{
        padding: 40px;
    }

    #portfolio{
        padding: 50px 30px;
    }

    .portfolio__content-single{
        width: 350px;
        height: 250px;
    }

    .portfolio__content-single .portfolio__single-img{
        width: 340px;
        height: 250px;
    }

    .portfolio__content-single .portfolio__single-img img{
        width: 340px;
        height: 250px;
    }

    .portfolio__content-single .portfolio__single-text{
        width: 300px;
        height: 300px;
    }

    footer{
        font-size: 0.8em;
    }
}